body{
    margin: 0px;
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: 700;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 5px hsl(0, 0%, 0%);
}